/* This page make the index.html mobile friendly */

@media (max-width: 740px) {
	/* Puttin the buttons on a column direction */

	body {
		flex-direction: column;
	}

	a {
		margin: 50px 50px 50px 50px;
	}

	/*Adjusting the trnasition time for mobile phones*/

	#pt::after,
	#pt::before,
	#en::after,
	#en::before,
	#fr::after,
	#fr::before {
		transition: 0s;
	}

	a span {
		transition: 0s;
		color: rgba(255, 255, 255, 0.685);
	}

	a {
		-webkit-box-reflect: below 1px
			linear-gradient(transparent, rgba(0, 0, 0, 0.171));
	}
}
