/*This parte of the code is to make the page mobile friendly */

@media (max-width: 1000px) {
	body {
		position: relative;
	}
	#top {
		width: 100%;
		background-color: #191a1d83;
		z-index: 1;
		height: 20px;
	}

	main {
		margin: 20% auto 12% auto;
	}

	#andre {
		padding-left: 20px;
	}

	#presentation {
		width: 95%;
		font-size: 30px;
		line-height: 45px;
	}

	main .cityA,
	main .cityB {
		font-size: 20px;
		margin-top: 25px;
		line-height: 10px;
	}

	main #email {
		margin: 60px auto 40px;
	}
}
