/*this is the css to adapt the contact page to the courrent existing style */

main #about_me {
	font-size: 19px;
	color: hsla(0, 0%, 100%, 0.64);
	max-width: 430px;
	margin: 40px auto;
	text-align: left;
}

#send_me {
	width: 150px;
	height: 40px;
	background-color: rgb(255, 255, 255);
	display: flex;
	justify-content: center;
	margin: 70px auto;
	border-radius: 20px;
}

main a {
	text-decoration: none;
	letter-spacing: 2px;
	color: black;
	padding-top: 10px;
}

@media (max-width: 900px) {
	main #about_me {
		max-width: 85%;
	}

	main {
		height: 400px;
		margin: 19% auto 12% auto;
	}
}
