@media (max-width: 1000px) {
	body {
		position: relative;
	}
	#top {
		width: 100%;
		background-color: #191a1d83;
		z-index: 1;
		height: 20px;
	}

	main {
		margin: 12% auto 12% auto;
	}

	#andre {
		padding-left: 20px;
	}

	#presentation {
		font-size: 22px;
	}

	main .cityA,
	main .cityB {
		font-size: 16px;
		margin-top: 5px;
		line-height: 10px;
	}

	main #email {
		margin: 40px auto 40px;
	}
}
