/* This page make the index.html mobile friendly */

@media (max-width: 740px) {
	/* Puttin the buttons on a column direction */

	body {
		flex-direction: column;
	}

	a {
		margin: 50px 50px 50px 50px;
	}

	/*adjusting the color on mobile phones*/

	a span {
		transition: 0s;
		color: rgba(255, 255, 255, 0.685);
	}

	a:hover {
		opacity: 0;
	}
}
